<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="">
</th:block>
<th:block layout:fragment="script">
    <script src=""></script>
</th:block>

        <div layout:fragemt="body">
            내가 진짜 body 다.
        </div>
<head>
    <meta charset="UTF-8">
    <title>body</title>
</head>
<body>
        <div layout:fragment="content">
            내가 진짜 body 다.
        </div>
</body>
</html>